<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tu Sitio Web{% endblock %}</title>
    <!-- Agrega aquí tus estilos CSS, enlaces a CDN, etc. -->
</head>
<body>

    <header>
        <!-- Barra de navegación u otros elementos del encabezado -->
        <h1>{% block header %}Bienvenido a Tu Sitio Web{% endblock %}</h1>
    </header>

    <main>
        <!-- Contenido principal de las páginas se insertará aquí -->
        {% block content %}{% endblock %}
    </main>

    <footer>
        <!-- Pie de página u otros elementos del pie de página -->
        <p>&copy; 2023 Tu Sitio Web</p>
    </footer>

    <!-- Agrega aquí tus scripts JavaScript, enlaces a CDN, etc. -->

</body>
</html>
